<main class="about">
  <h1>About us</h1>
  <p class="text">
    Elpida Healing Center is a medical clinic that uses an evidence-based approach involving mainstream Allopathic Medicine, Traditional Chinese Medicine, Osteopathy, herbal medicine, Orthomolecular Medicine, and medical devices to help our patients achieve their health goals.
The clinic was founded by Matthew Brock, MD in an effort to help patients overcome their health challenges using both conventional and alternative medicine modalities.
We are a specialty clinic offering consultations, follow ups, and specific treatments.This site was created to provide patients convenient access to all supplements we have in our clinic.
  </p>
</main>
