<main class="contact">
  <h1>Contact us</h1>
  <div class="text">
    <a href="https://www.elpidahealing.com">Visit our main site</a><br>
    <a href="mailto:olsenme@oregonstate.edu">Email</a>
  </div>
</main>
