<main class="product-page">
    <div class="title-container">
        <h2>Check out these products</h2>
    </div>
    <div class="product-card-container">
        {{#each productData}}
        {{>productCard}}
        {{/each}}
    </div>
</main>
<button type="button" id="add-product-button"<i class="fas fa-plus"</i>
