.body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #dadada;
}
header {
    background-color:#D5EEF1;
    color: black;
    height:150px;
}
#header{
  font-style: italic;
}
a{
    text-decoration:none;
     color: #03a9f4;
}
a:hover {
  color: #0c719e;
}
.site-title{
    margin:0;
    padding:20px;
    font-weight:normal;
}
.navbar{
    font-size:22px;
}
.navlist {
  margin: 0;
  list-style: none;
  background-color: #003449;
}
.nav-item {
  display: inline-block;

}
.nav-item:hover {
  background-color: rgba(231, 132, 119, 0.18);
}
.nav-item a {
  display: inline-block;
  color:white;
  padding: 10px 20px;
}
.prouct-page{
  display:grid;
  min-height: 100%;
  grid-template-areas:"content content content"
                      "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 200px;
}
.main{
  grid-area: content;
}
.title-container {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.title-container h1 {
  margin: 20px 0;
  font-size: 64px;
  font-weight: 400;
}
.title-container h2 {
  font-weight: normal;
}
.product-card-container{
  display:grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:2rem;
  grid-auto-rows:1fr 1fr 1fr;
}
.footer{
  background-color: :#D5EEF1;
}
.text{
  font-size: 16;
}
/*#add-product-button {
  position:fixed;
  right: 30px;
  bottom:30px;
  background-color: black;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: #003449;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}*/


.product-card {
  display:grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 6fr 1fr;*/
  grid-template-areas:"pic info";
                    /*  "foot foot ";*/
  /*border: 1px solid #ccc;*/
  background-color: #fff;
}
.img-container{
grid-area:pic;
}
.img-container img{
  position: relative;
    width:  175px;
    height: 200px;
  /*display:block;
  max-width: 100%;
  max-height: 100%;*/
}
.info-container{
justify-self: center;
align-self:space-around;
grid-area:info;
max-width:50%;
max-height: 75%;
/*display:grid;
grid-template-rows: 1fr .5fr;
grid-template-areas:"information"
                     "numvotes";*/
}
.label{
  font-weight: bold;
}
/*.info{
  grid-area:information;
}*/
/*.votes{
  grid-area:numvotes;
  justify-self: center;
  align-self: center;
}*/
/*#edit-product-button {

  height: 30px;
  width: 30px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  background-color: #003449;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
#delete-product-button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  background-color: #003449;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}*/
/*#add-product-button:hover,
#add-product-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 36px;
}
#add-product-button:focus {
  outline: none;
}*/
#vote-button{
  /*grid-area:vote;*/
  align-self: center;
  margin-bottom: 5px;
  margin-right:5px;
  margin-top: 5px;
}
/*.bottom{
  grid-area:foot;
  background-color:white;
  display:flex;*/
  /*grid-template-columns: 1fr 1fr;*/
  /*grid-template-areas:"vote   ";*/
  /*align-items:center;
}*/
/*.buttons{
  grid-area:buttons;
  display:flex;
  justify-content: space-around;
}*/
/*Modal*/
/*#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
#add-product-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}
.hidden {
    display:none;
}
.action-button {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}
.action-button:hover {
  background-color: #e78477;
  border-color: #333;
}
.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 500px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}
.modal-header {
  position: relative;
  padding: 10px 20px;
}
.modal-header h3 {
  margin: 0;
  font-size: 28px;
}
#modal-close{
position: absolute;
 right: 10px;
 top: 5px;
 font-size: 24px;
 border: none;
 background: none;
 padding: 0;
cursor: pointer;
}
.modal-body {
  padding: 20px;
}
.supplement-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}
.supplement-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}
.supplement-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}
#modal-cancel,
#modal-accept {
  margin-right: auto;
  margin-left: auto;
}
#modal-cancel {
  color: #333;
  background-color: #fff;
}
#modal-cancel:hover {
  background-color: #eee;
}*/
footer {
  background-color:#D5EEF1;
  height:150px;
}
